
body { background-color: #d0d0f0; }

.bigbox {
	background-color: #c0c0f0;
	border: 1px solid #b0b0e0;
	border-radius: 10px;
	padding: 3px 5px;
	margin: 3px 0px;
}
.hidden { display: none; }
td.label { text-align: right; padding: 0px 3px; }
div.game_selector { float: left; }
div.player_recap { float: right; }

div.clear { float: none; clear: both;}

