
body { margin: 0px; }

div.main {
	max-width: 800px;
	margin: auto;
}

div.multiplier {
}

.clear { clear: both; }
.center { text-align: center; }

.level { margin: 5px 0px; }
.auto { margin: auto; display: flex; flex-wrap: wrap; }
.fixed {
	width: 200px;
	box-sizing: border-box;
}
.fixed > .ui-widget-content { margin: 0px 2.5px; }

.fixed:first-child > .ui-widget-content { margin-left: 0px; }
.fixed:last-child > .ui-widget-content { margin-right: 0px; }

