
body { margin: 0px; }

div.main {
	max-width: 800px;
	margin: auto;
/*
	display: grid;
	padding: 10px;
	gap: 10px;
*/
}

div.multiplier {
}

.clear { clear: both; }
.center { text-align: center; }

.level { margin: 5px 0px; }
.auto { margin: auto; display: flex; flex-wrap: wrap; }
.fixed {
	width: 200px;
	box-sizing: border-box;
	padding: 0px 5px;
}

.fixed:first-child { padding-left: 0px; }
.fixed:last-child { padding-right: 0px; }

